@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,700&display=swap');

header {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)), url(../img/bg6.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


h1, h2, h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: .3rem;
}

h3 {
   font-family: 'Roboto', sans-serif;
 }

.navbar-brand, li {
  font-family: 'Lobster', cursive;
}

.height-90 {
  min-height: 90vh;

}

.height-10 {
  min-height: 10vh;

}

/* colors */
.text-purple{
  color: #876cb1;
}

.text-blue-react{
  color: #61DBFB;
}