@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,700&display=swap');

header {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: 0.3rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand, nav {
  font-family: 'Lobster', cursive;
}
/* about section */
.img-about {
  width: 150px;
  height: 150px;
}
/* height */
.height-90 {
  min-height: 90vh;
}
.height-50 {
  min-height: 50vh;
}
.height-10 {
  min-height: 10vh;
}
.height-45 {
  min-height: 45vh;
}

/* colors */
.text-purple {
  color: #876cb1;
}

.text-blue-react {
  color: #61dbfb;
}

.bg-grey{
  background-color: #f4f4f4;
}
